html{
    height: 100%;
}
body{
    display: grid;
    grid-template-rows: 32% 100% 20%;
    height: 100%;
}




header{

/* 
Divido em 2 blocos: 
- cima: Contém logo, título e login
- Baixo: Contém Lista de págia da loja, campo de pesquisa

*/

    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    
    background-image: url(Assets/Agro\ figueira\ Background\ 1.png);
    background-size: cover;
    background-position: center;
    


    .parteCIMA{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;    

        .logoPNG{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;

            background-color: rgba(255, 227, 205, 25%);
            margin-left: 20px;

            img{
                width: 250px;
            }
        }


        .tituloHome{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            text-align: center;
            font-size: 25px;
            color: black;

            background-color: rgba(255, 227, 205, 25%);
            padding-right: 10px;
            padding-left: 10px;
            height: 100%;

            b{
                font-size: 60px;
            }
        }

        .contaPNG{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            font-size: 25px;

            margin-right: 20px;
            padding: 10px;

            background-color: rgba(255, 227, 205, 25%);

            img{
                width: 120px;
            }
            
        }
        

    }




    .parteBAIXO{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        height: 70px;

        background-color: rgb(93, 66, 44);
        
        font-size: 30px;


        .listaConteudos{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            padding: 0px;
            margin: 10px;
            margin-left: 50px;
            gap: 50px;


            list-style: none;

        }

        .pesquisaContainer{
            display: flex;
            flex-direction: row;
            justify-content: center;
            text-align: center;
            align-items: center;

            gap: 15px;
            margin-right: 8%;

            .inputContainer{
                display: flex;
                flex-direction: row;
                justify-content: center;
                text-align: center;
                align-items: center;

                padding: 5px 12px 5px 12px;
                gap: 15px;

                border: 2px solid;
                border-radius: 20px;
                border-color: white;

                input{
                    background-color: rgb(93, 66, 44);
                    
                    padding: 8px;
    
                    border-style: none;
    
                }
    
                span{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        width: 40px;
                        color: white;
                        margin-right: 4px;
                    }
                } 
            }
        }
    }

}


main{

    /* 
        Contém:
        - Promoções
        - Rações
        - Cliente especial
        - Medicamentos
    
    */
    
    display: grid;
    grid-template-rows: min-content min-content min-content min-content;

    .promoContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        border: 2px solid black;
        gap: 8px;

        background-color: rgba(255, 227, 205, 100%);
        color: white;


        .promoTitulo{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;

            border: 2px solid black;
            border-radius: 10px;

            background-color: rgb(93, 66, 44);

            margin: 5px;
            padding: 10px;

            font-size: 20px;
            b{
                font-size: 50px;
            }
            p{
                margin: 0px;
            }
        }

        .promoConteudo{
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 7px;
            margin: 5px;


            border: 2px solid black;
            border-radius: 10px;


            .promoITEM{
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;

                border: 2px solid black;
                border-radius: 15px;

                background-color: white;

                padding: 5px;
                margin: 5px;

                font-size: 20px;

                img{
                    width: 300px;
                }


                span{
                    background-color: rgb(93, 66, 44);
                    text-align: center;
                    border: 2px solid black;
                    border-radius: 15px;


                    b{
                        font-size: 23px;
    
                    }
                    
                    .valor{
                        background-color: aqua;
                    }

                }


            }
            
        }

    }


}
