html{
    height: 100%;
}
body{
    display: grid;
    grid-template-rows: 32% 300% 20%;
    gap: 20px;
    height: 100%;
    margin: 0%;

}


header{

/* 
Divido em 2 blocos: 
- cima: Contém logo, título e login
- Baixo: campo de pesquisa, Contém Lista de págia da loja 

*/

    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    
    background-image: url(Assets/Header/Agro\ figueira\ Background\ 1.png);
    background-size: cover;
    background-position: center;
    


    .parteCIMA{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(255, 227, 205, 25%);
        height: 100%;

        .logoPNG{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;

            background-color: rgba(255, 227, 205, 25%);
            margin-left: 2%;

            border-radius: 20px;

            img{
                width: 250px;
            }
        }


        .tituloHome{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            text-align: center;
            font-size: 25px;
            color: white;

            padding-right: 10px;
            padding-left: 10px;
            height: 100%;

            b{
                font-size: 60px;
            }
        }



        .menu{
            display: flex;
            flex-direction: row;
            text-align: center;
            justify-content: center;
            align-items: center;

            gap: 15px;
            font-size: 25px;
            
            margin-right: 1%;

            .contaPNG, .carrinhoCompras, .chat, .ajuda{
                background-color: rgba(255, 227, 205, 25%);
                padding: 8px;
    
                img{
                    width: 90px;
                }
                
            }

        }
        

    }


    .parteBAIXO{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        height: 75px;

        background-color: rgb(93, 66, 44);
        
        font-size: 30px;


        .listaConteudos{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            padding: 0px;
            margin: 10px;
            margin-right: 2%;
            gap: 50px;


            list-style: none;
            img{
                width: 70px;
            }
        }

        .pesquisaContainer{
            display: flex;
            flex-direction: row;
            justify-content: center;
            text-align: center;
            align-items: center;

            gap: 15px;
            margin-left: 2%;

            .inputContainer{
                display: flex;
                flex-direction: row;
                justify-content: center;
                text-align: center;
                align-items: center;

                padding: 5px 12px 5px 12px;
                gap: 15px;

                border: 2px solid;
                border-radius: 20px;
                border-color: white;

                input{
                    background-color: rgb(93, 66, 44);
                    
                    padding: 8px;
    
                    border-style: none;
    
                }
    
                span{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        width: 40px;
                        color: white;
                        margin-right: 4px;
                    }
                } 
            }
        }
    }

}


main{

        /* 
            Contém:
            - Promoções
            - Rações
            - Cliente especial
            - Medicamentos
        
        */
        
        display: grid;
        grid-template-rows: min-content min-content min-content min-content;
        gap: 20px;

    /* Container de promoção */
    .promoContainer{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;


            gap: 8px;
            margin: 0px 15px 0px 15px;

            color: white;


            .promoTitulo{
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                align-items: center;

                border: 2px solid black;
                border-radius: 10px;

                background-color: rgb(93, 66, 44);

                margin: 5px;
                padding: 10px;

                font-size: 20px;
                b{
                    font-size: 50px;
                }
                p{
                    margin: 0px;
                }
            }

            .promoConteudo{
                display: flex;
                flex-direction: row;
                justify-content: center;

                gap: 7px;
                margin: 5px;

                border: 2px solid black;
                border-radius: 10px;

                background-color: rgba(255, 227, 205, 100%);


                .promoITEM{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;

                    border: 2px solid black;
                    border-radius: 15px;

                    background-color: white;

                    padding: 5px;
                    margin: 5px;

                    font-size: 20px;

                    img{
                        width: 300px;
                    }


                    .info{
                        background-color: rgb(93, 66, 44);
                        text-align: center;
                        border: 2px solid black;
                        border-radius: 15px;
                        b{
                            font-size: 23px;
        
                        }
                        
                        .info2{
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            gap: 10px;
                            .valor{
                                text-decoration: line-through;
                            }
                        }


                    }


                }
                
            }

    }

    /* Container de anuncio */
    .clienteEspecialContainer{
        display: grid;
        grid-template-columns: 30% 70%;

        background-image: url(Assets/Header/Agro\ figueira\ Background\ 2.png);
        background-size: cover;
        background-position: center;

        border-top: 4px solid black;
        border-bottom: 4px solid black;
        color: white;

        .tituloContainer{
            text-align: center;
            font-size: 40px;
            margin: 10px;

            background-color: rgba(93, 66, 44, 25%);
            border: 3px solid rgb(93, 66, 44);
            

            p{
                b{
                    font-size: 70px;
                    
                }

                
                .agro{
                    color: rgb(93, 66, 44);
                    background-color: rgba(93, 66, 44, 50%);
                    border-radius: 4px;
                }
            }
        }

        .messageContainer{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 10px;
            gap: 5px;

            background-color: rgba(93, 66, 44, 30%);
            border: 3px solid rgb(93, 66, 44);
            p{
                text-align: center;
                font-size: 50px;
                .agro{
                    color: rgb(93, 66, 44);
                    background-color: rgba(93, 66, 44, 30%);
                    border-radius: 4px;
                }
            }
            ul{
                font-size: 40px;
            }
            button{
                width: 400px;
                height: 50px;
                border: 2px black solid;
                background-color: rgb(93, 66, 44);
                margin: 7px;
                color: white;
                font-size: 30px;
            }

        }

    }

    /* Container de produtos */
    .containerProdutos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;


        gap: 8px;
        margin: 0px 15px 0px 15px;

        color: white;

        .produtosTitulo{
            
            background-color: rgb(93, 66, 44);

            border: 2px solid black;
            border-radius: 10px;

            gap: 7px;
            margin: 5px;
            padding: 10px;


            
            font-size: 20px;
            b{
                font-size: 50px;
            }
            p{
                margin: 0px;
            }


        }

        .produtoMain{
            background-color: rgba(255, 227, 205, 100%);
            margin: 5px;

            border: 2px solid black;
            border-radius: 10px;

            .produtosConteudo{
                display: flex;
                flex-direction: row;
                justify-content: center;
    
                gap: 7px;
    

    
    
                .produtoItem{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
    
                    border: 2px solid black;
                    border-radius: 15px;
    
                    background-color: white;
    
                    padding: 5px;
                    margin: 5px;
    
                    font-size: 20px;
    
                    img{
                        width: 250px;
                    }
    
    
                    span{
                        background-color: rgb(93, 66, 44);
                        text-align: center;
                        border: 2px solid black;
                        border-radius: 15px;
    
    
                        b{
                            font-size: 23px;
    
                        }
                        
                        .valor{
                            align-items: center;
                            background-color: rgb(72, 52, 35);
                        }
                    }
                }
    
            }
    
            .produtoSaibaMais{
                button{
                    width: 400px;
                    height: 70px;
                    border: 2px black solid;
                    background-color: rgb(93, 66, 44);
                    margin: 7px;
                    color: white;
                    font-size: 25px;
                }
            }
    
        }

    }



}
